QMainWindow {
    background-color: rgb(30, 32, 36);
}

OptionsSideBar {
    background-color: rgb(38, 41, 46);
    border: 2px solid rgb(60, 64, 70);
    border-radius: 3px;
}

[appContent="true"] QLabel {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(200, 204, 210);
}

QLabel#titleLabel {
    color: rgb(235, 238, 242);
    font-weight: bold;
}

QWidget#convertAnalyzeTab {
    background-color: rgb(42, 45, 50);
    color: rgb(235, 238, 242);
}

QWidget#exampleTab {
    background-color: rgb(42, 45, 50);
    color: rgb(235, 238, 242);
}

QTabBar::tab {
    background-color: rgb(70, 76, 84);
    color: rgb(235, 238, 242);
    padding: 6px 12px;
}

QTabBar::tab:selected {
    background-color: rgb(42, 45, 50);
    color: rgb(235, 238, 242);
    padding-bottom: 8px;
}

QTabBar::tab:hover:!selected {
    background-color: rgb(58, 63, 70);
}

QTabWidget::pane {
    border: 1px solid rgb(42, 45, 50)
}

[appContent="true"] QPushButton {
    background-color: rgb(70, 76, 84);
    color: rgb(235, 238, 242);
    padding: 6px 12px;
    padding-left: 3px;
    padding-top: 5px;
}

[appContent="true"] QPushButton:hover {
    background-color: rgb(58, 63, 70);
}

[appContent="true"] QPushButton:pressed {
    background-color: rgb(58, 63, 70);
    padding-right: 5px;
    padding-bottom: 3px;
}

QPlainTextEdit {
    background-color: rgb(27, 29, 33);
    border: 2px solid rgb(60, 64, 70);
    border-radius: 6px;
    color: rgb(225, 228, 232);
}

QScrollArea {
    border: 2px solid rgb(60, 64, 70);
    border-radius: 6px;
}

QLabel#descriptionLabel {
    background-color: rgb(27, 29, 33);
}

GrammarPanel {
    background-color: rgb(27, 29, 33);
}

QSlider::handle {
    background-color: rgb(75, 80, 87);
}

QSlider::handle:hover {
    background-color: rgb(95, 101, 109);
}

QSlider::handle:pressed {
    background-color: rgb(60, 64, 70);
}